<div class="row section topspace">
    <div class="panel panel-cta">
        <div class="panel-body">
            <div class="col-lg-8">
                <p>Curriculum Vitae made available just for you. </p>
            </div>
            <div class="col-lg-2 text-center">
                <a href="docs/jack_wampler_cv.pdf" class="btn btn-primary btn-lg">CV pdf</a>
            </div>
            <div class="col-lg-2 text-right">
                <a href="docs/jack_wampler_cv.zip" class="btn btn-primary btn-lg">CV LaTeX</a>
            </div>
        </div>
    </div>
</div> <!-- /section -->
