<div class="row section recentworks topspace">

    <h2 class="section-title"><span>Recent Works</span></h2>

    <div class="thumbnails recentworks">
        <ul>
        {{ range $index, $area := .Site.Data.recentworks }}
            <li>
                <span class="title">{{ .name }}</span> --
                    {{ $len := sub (len .items) 1 }}
                    {{ range $i, $item := where .items "id" .index }}
                        <a href="{{ .url }}">[{{ .name }}]</a>
                        {{ if gt $len $i }} | {{ end }}
                    {{ end }}
                </span>
            </li>
        {{ end }}
        </ul>
    </div>

</div> <!-- /section -->
